# Env
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/
*.nbconvert.ipynb

# Data artifacts
data/processed/*
!data/processed/.gitkeep
data/raw/*
!data/raw/.gitkeep

# OS
.DS_Store
